body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  @media screen and (min-width: 375px)
  {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      background-color: #fff;
    }
    
    .logo {
      color: #6070FF;
      font-weight: bold;
      font-size: 18px;
      text-decoration: none;
    }
    
    .menu {
      width: 6vw;
      height: 6vh;;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      cursor: pointer;
    }
    
    .menu span {
      display: block;
      width: 100%;
      height: 5%;
      background-color: #6070FF;
      transition: all 0.3s ease;
    }
    
   
    .body{
      margin: auto;
      padding: 15% 10%;
    }
    .body h1{
      font-weight: 600;
      color: #172B4D;
      font: poppings;
    }
    .body p{
      color: #344563;
      font: poppings;
  
    }
    .body a{
      text-decoration: none;
      margin-bottom: 10px;
      color: #7F8CFF;
    }
    .body div img{
      width: 20px;
      margin-top: 30px;
      
    }
  }
  
  /* Media query for larger screens */
@media screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .nav-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav-menu li {
    margin-left: 20px;
  }

  .nav-menu a {
    color: #344563;
    text-decoration: none;
    font-size: 16px;
  }

  .nav-menu a:hover {
    color: #6070FF;
  }
}
  
  